.tiny-bbox {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}
html,
body {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}
.grid {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  clear: both;
}
.grid > .col-d4,
.grid > .col-d3,
.grid > .col-d2,
.grid > .col-d1 {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
}
.grid > .col-s24 {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  width: 100%;
}
.grid > .col-s23 {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  width: 95.83333333%;
}
.grid > .col-s22 {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  width: 91.66666667%;
}
.grid > .col-s21 {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  width: 87.5%;
}
.grid > .col-s20 {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  width: 83.33333333%;
}
.grid > .col-s19 {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  width: 79.16666667%;
}
.grid > .col-s18 {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  width: 75%;
}
.grid > .col-s17 {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  width: 70.83333333%;
}
.grid > .col-s16 {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  width: 66.66666667%;
}
.grid > .col-s15 {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  width: 62.5%;
}
.grid > .col-s14 {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  width: 58.33333333%;
}
.grid > .col-s13 {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  width: 54.16666667%;
}
.grid > .col-s12 {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  width: 50%;
}
.grid > .col-s11 {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  width: 45.83333333%;
}
.grid > .col-s10 {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  width: 41.66666667%;
}
.grid > .col-s9 {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  width: 37.5%;
}
.grid > .col-s8 {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  width: 33.33333333%;
}
.grid > .col-s7 {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  width: 29.16666667%;
}
.grid > .col-s6 {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  width: 25%;
}
.grid > .col-s5 {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  width: 20.83333333%;
}
.grid > .col-s4 {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  width: 16.66666667%;
}
.grid > .col-s3 {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  width: 12.5%;
}
.grid > .col-s2 {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  width: 8.33333333%;
}
.grid > .col-s1 {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  width: 4.16666667%;
}
.field {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
}
.field .field-label {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.field .field-input {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 100%;
}
#layout {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}
#layout #layout-header {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}
#layout #layout-header #layout-menu-toggle {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 101;
}
#layout #layout-header #layout-menu-main {
  position: relative;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  z-index: 102;
  width: 200px ;
}
#layout #layout-header #layout-menu-main .fold-menu {
  text-align: left;
}
#layout.menu-mode-fold #layout-header #layout-menu-main .fold-menu {
  text-align: center;
}
#layout.menu-mode-fold #layout-header #layout-menu-main .ant-menu-root > li {
  text-align: center;
}
@media (max-width: 767px) {
  .grid > .col-d1,
  .grid > .col-d2,
  .grid > .col-d3,
  .grid > .col-d4 {
    width: 100%;
  }
  .grid > .col-xs-s24 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 100%;
  }
  .grid > .col-xs-s23 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 95.83333333%;
  }
  .grid > .col-xs-s22 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 91.66666667%;
  }
  .grid > .col-xs-s21 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 87.5%;
  }
  .grid > .col-xs-s20 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 83.33333333%;
  }
  .grid > .col-xs-s19 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 79.16666667%;
  }
  .grid > .col-xs-s18 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 75%;
  }
  .grid > .col-xs-s17 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 70.83333333%;
  }
  .grid > .col-xs-s16 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 66.66666667%;
  }
  .grid > .col-xs-s15 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 62.5%;
  }
  .grid > .col-xs-s14 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 58.33333333%;
  }
  .grid > .col-xs-s13 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 54.16666667%;
  }
  .grid > .col-xs-s12 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 50%;
  }
  .grid > .col-xs-s11 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 45.83333333%;
  }
  .grid > .col-xs-s10 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 41.66666667%;
  }
  .grid > .col-xs-s9 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 37.5%;
  }
  .grid > .col-xs-s8 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 33.33333333%;
  }
  .grid > .col-xs-s7 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 29.16666667%;
  }
  .grid > .col-xs-s6 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 25%;
  }
  .grid > .col-xs-s5 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 20.83333333%;
  }
  .grid > .col-xs-s4 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 16.66666667%;
  }
  .grid > .col-xs-s3 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 12.5%;
  }
  .grid > .col-xs-s2 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 8.33333333%;
  }
  .grid > .col-xs-s1 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 4.16666667%;
  }
  * {
    font-size: 10px;
  }
  .grid > .field {
    padding: 2px 4px;
  }
  .grid > .field .field-label {
    width: 50px;
    text-align: right;
  }
  .grid > .field .field-input {
    padding-left: 50px;
  }
  #layout #layout-header {
    height: 36px;
  }
  #layout #layout-header #layout-logo img {
    width: 200px;
    height: 22.248px;
    margin: 6.876px 3px;
    margin-left: 39px;
  }
  #layout #layout-header #layout-menu-toggle {
    width: 36px;
    height: 36px;
    padding: 10.8px;
  }
  #layout #layout-header #layout-menu-toggle * {
    font-size: 14.4px;
  }
  #layout #layout-header #layout-menu-main {
    left: 0;
    top: 36px;
  }
  #layout #layout-header #layout-menu-main .fold-menu {
    height: 20px;
    padding: 2px;
  }
  #layout #layout-header #layout-menu-main .anticon {
    font-size: 12px;
  }
  #layout #layout-header #layout-menu-main.fold {
    width: 36px;
  }
  #layout #layout-header #layout-menu-main.fold .fold-menu {
    text-align: center;
  }
  #layout #layout-header #layout-menu-main.fold .anticon {
    font-size: 15px;
  }
  #layout #layout-header #layout-menu-main.fold .ant-menu-inline-collapsed {
    width: 36px;
  }
  #layout #layout-header #layout-menu-main.fold .ant-menu-inline-collapsed > .ant-menu-item,
  #layout #layout-header #layout-menu-main.fold .ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item,
  #layout #layout-header #layout-menu-main.fold .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
    padding: 0 10.5px !important;
  }
  #layout #layout-header #layout-menu-main.fold .ant-menu-root > li {
    text-align: left;
  }
  #layout #layout-content {
    padding-top: 36px;
    padding-left: 200px;
  }
  #layout #layout-content.normal {
    padding-left: 200px;
  }
  #layout #layout-content.fold {
    padding-left: 36px;
  }
  #layout #layout-content.vertical {
    padding-left: 0;
  }
  #layout #layout-content.collapsed {
    padding-left: 0;
  }
  #layout #layout-content.min {
    padding-left: 0;
  }
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .grid > .col-d1 {
    width: 100%;
  }
  .grid > .col-d2,
  .grid > .col-d3,
  .grid > .col-d4 {
    width: 50%;
  }
  .grid > .col-sm-s24 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 100%;
  }
  .grid > .col-sm-s23 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 95.83333333%;
  }
  .grid > .col-sm-s22 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 91.66666667%;
  }
  .grid > .col-sm-s21 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 87.5%;
  }
  .grid > .col-sm-s20 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 83.33333333%;
  }
  .grid > .col-sm-s19 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 79.16666667%;
  }
  .grid > .col-sm-s18 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 75%;
  }
  .grid > .col-sm-s17 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 70.83333333%;
  }
  .grid > .col-sm-s16 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 66.66666667%;
  }
  .grid > .col-sm-s15 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 62.5%;
  }
  .grid > .col-sm-s14 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 58.33333333%;
  }
  .grid > .col-sm-s13 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 54.16666667%;
  }
  .grid > .col-sm-s12 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 50%;
  }
  .grid > .col-sm-s11 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 45.83333333%;
  }
  .grid > .col-sm-s10 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 41.66666667%;
  }
  .grid > .col-sm-s9 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 37.5%;
  }
  .grid > .col-sm-s8 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 33.33333333%;
  }
  .grid > .col-sm-s7 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 29.16666667%;
  }
  .grid > .col-sm-s6 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 25%;
  }
  .grid > .col-sm-s5 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 20.83333333%;
  }
  .grid > .col-sm-s4 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 16.66666667%;
  }
  .grid > .col-sm-s3 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 12.5%;
  }
  .grid > .col-sm-s2 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 8.33333333%;
  }
  .grid > .col-sm-s1 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 4.16666667%;
  }
  * {
    font-size: 12px;
  }
  .grid > .field {
    padding: 3px 6px;
  }
  .grid > .field .field-label {
    width: 60px;
    text-align: right;
  }
  .grid > .field .field-input {
    padding-left: 60px;
  }
  #layout #layout-header {
    height: 42px;
  }
  #layout #layout-header #layout-logo img {
    width: 200px;
    height: 25.956px;
    margin: 8.022px 5px;
    margin-left: 47px;
  }
  #layout #layout-header #layout-menu-toggle {
    width: 42px;
    height: 42px;
    padding: 12.6px;
  }
  #layout #layout-header #layout-menu-toggle * {
    font-size: 16.8px;
  }
  #layout #layout-header #layout-menu-main {
    left: 0;
    top: 42px;
  }
  #layout #layout-header #layout-menu-main .fold-menu {
    height: 24px;
    padding: 3px;
  }
  #layout #layout-header #layout-menu-main .anticon {
    font-size: 14.4px;
  }
  #layout #layout-header #layout-menu-main.fold {
    width: 42px;
  }
  #layout #layout-header #layout-menu-main.fold .fold-menu {
    text-align: center;
  }
  #layout #layout-header #layout-menu-main.fold .anticon {
    font-size: 18px;
  }
  #layout #layout-header #layout-menu-main.fold .ant-menu-inline-collapsed {
    width: 42px;
  }
  #layout #layout-header #layout-menu-main.fold .ant-menu-inline-collapsed > .ant-menu-item,
  #layout #layout-header #layout-menu-main.fold .ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item,
  #layout #layout-header #layout-menu-main.fold .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
    padding: 0 12px !important;
  }
  #layout #layout-header #layout-menu-main.fold .ant-menu-root > li {
    text-align: left;
  }
  #layout #layout-content {
    padding-top: 42px;
    padding-left: 200px;
  }
  #layout #layout-content.normal {
    padding-left: 200px;
  }
  #layout #layout-content.fold {
    padding-left: 42px;
  }
  #layout #layout-content.vertical {
    padding-left: 0;
  }
  #layout #layout-content.collapsed {
    padding-left: 0;
  }
  #layout #layout-content.min {
    padding-left: 0;
  }
}
/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {
  .grid > .col-d1 {
    width: 100%;
  }
  .grid > .col-d2,
  .grid > .col-d3,
  .grid > .col-d4 {
    width: 50%;
  }
  .grid > .col-d4 {
    width: 25%;
  }
  .grid > .col-md-s24 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 100%;
  }
  .grid > .col-md-s23 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 95.83333333%;
  }
  .grid > .col-md-s22 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 91.66666667%;
  }
  .grid > .col-md-s21 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 87.5%;
  }
  .grid > .col-md-s20 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 83.33333333%;
  }
  .grid > .col-md-s19 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 79.16666667%;
  }
  .grid > .col-md-s18 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 75%;
  }
  .grid > .col-md-s17 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 70.83333333%;
  }
  .grid > .col-md-s16 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 66.66666667%;
  }
  .grid > .col-md-s15 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 62.5%;
  }
  .grid > .col-md-s14 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 58.33333333%;
  }
  .grid > .col-md-s13 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 54.16666667%;
  }
  .grid > .col-md-s12 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 50%;
  }
  .grid > .col-md-s11 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 45.83333333%;
  }
  .grid > .col-md-s10 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 41.66666667%;
  }
  .grid > .col-md-s9 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 37.5%;
  }
  .grid > .col-md-s8 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 33.33333333%;
  }
  .grid > .col-md-s7 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 29.16666667%;
  }
  .grid > .col-md-s6 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 25%;
  }
  .grid > .col-md-s5 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 20.83333333%;
  }
  .grid > .col-md-s4 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 16.66666667%;
  }
  .grid > .col-md-s3 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 12.5%;
  }
  .grid > .col-md-s2 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 8.33333333%;
  }
  .grid > .col-md-s1 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 4.16666667%;
  }
  * {
    font-size: 12px;
  }
  .grid > .field {
    padding: 4px 8px;
  }
  .grid > .field .field-label {
    width: 60px;
    text-align: right;
  }
  .grid > .field .field-input {
    padding-left: 60px;
  }
  #layout #layout-header {
    height: 50px;
  }
  #layout #layout-header #layout-logo img {
    width: 200px;
    height: 30.9px;
    margin: 9.55px 6px;
    margin-left: 56px;
  }
  #layout #layout-header #layout-menu-toggle {
    width: 50px;
    height: 50px;
    padding: 15px;
  }
  #layout #layout-header #layout-menu-toggle * {
    font-size: 20px;
  }
  #layout #layout-header #layout-menu-main {
    left: 0;
    top: 50px;
  }
  #layout #layout-header #layout-menu-main .fold-menu {
    height: 24px;
    padding: 4px;
  }
  #layout #layout-header #layout-menu-main .anticon {
    font-size: 14.4px;
  }
  #layout #layout-header #layout-menu-main.fold {
    width: 50px;
  }
  #layout #layout-header #layout-menu-main.fold .fold-menu {
    text-align: center;
  }
  #layout #layout-header #layout-menu-main.fold .anticon {
    font-size: 18px;
  }
  #layout #layout-header #layout-menu-main.fold .ant-menu-inline-collapsed {
    width: 50px;
  }
  #layout #layout-header #layout-menu-main.fold .ant-menu-inline-collapsed > .ant-menu-item,
  #layout #layout-header #layout-menu-main.fold .ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item,
  #layout #layout-header #layout-menu-main.fold .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
    padding: 0 16px !important;
  }
  #layout #layout-header #layout-menu-main.fold .ant-menu-root > li {
    text-align: left;
  }
  #layout #layout-content {
    padding-top: 50px;
    padding-left: 200px;
  }
  #layout #layout-content.normal {
    padding-left: 200px;
  }
  #layout #layout-content.fold {
    padding-left: 50px;
  }
  #layout #layout-content.vertical {
    padding-left: 0;
  }
  #layout #layout-content.collapsed {
    padding-left: 0;
  }
  #layout #layout-content.min {
    padding-left: 0;
  }
}
/* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) {
  .grid > .col-d1 {
    width: 100%;
  }
  .grid > .col-d2 {
    width: 50%;
  }
  .grid > .col-d3 {
    width: 33.33333%;
    padding: 5px;
  }
  .grid > .col-d4 {
    width: 25%;
  }
  .grid > .col-lg-s24 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 100%;
  }
  .grid > .col-lg-s23 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 95.83333333%;
  }
  .grid > .col-lg-s22 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 91.66666667%;
  }
  .grid > .col-lg-s21 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 87.5%;
  }
  .grid > .col-lg-s20 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 83.33333333%;
  }
  .grid > .col-lg-s19 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 79.16666667%;
  }
  .grid > .col-lg-s18 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 75%;
  }
  .grid > .col-lg-s17 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 70.83333333%;
  }
  .grid > .col-lg-s16 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 66.66666667%;
  }
  .grid > .col-lg-s15 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 62.5%;
  }
  .grid > .col-lg-s14 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 58.33333333%;
  }
  .grid > .col-lg-s13 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 54.16666667%;
  }
  .grid > .col-lg-s12 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 50%;
  }
  .grid > .col-lg-s11 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 45.83333333%;
  }
  .grid > .col-lg-s10 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 41.66666667%;
  }
  .grid > .col-lg-s9 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 37.5%;
  }
  .grid > .col-lg-s8 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 33.33333333%;
  }
  .grid > .col-lg-s7 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 29.16666667%;
  }
  .grid > .col-lg-s6 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 25%;
  }
  .grid > .col-lg-s5 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 20.83333333%;
  }
  .grid > .col-lg-s4 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 16.66666667%;
  }
  .grid > .col-lg-s3 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 12.5%;
  }
  .grid > .col-lg-s2 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 8.33333333%;
  }
  .grid > .col-lg-s1 {
    position: relative;
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    width: 4.16666667%;
  }
  * {
    font-size: 14px;
  }
  .grid > .field {
    padding: 5px 10px;
  }
  .grid > .field .field-label {
    width: 70px;
    text-align: right;
  }
  .grid > .field .field-input {
    padding-left: 70px;
  }
  #layout #layout-header {
    height: 56px;
  }
  #layout #layout-header #layout-logo img {
    width: 200px;
    height: 34.608px;
    margin: 10.696px 8px;
    margin-left: 64px;
  }
  #layout #layout-header #layout-menu-toggle {
    width: 56px;
    height: 56px;
    padding: 16.8px;
  }
  #layout #layout-header #layout-menu-toggle * {
    font-size: 22.4px;
  }
  #layout #layout-header #layout-menu-main {
    left: 0;
    top: 56px;
  }
  #layout #layout-header #layout-menu-main .fold-menu {
    height: 28px;
    padding: 5px;
  }
  #layout #layout-header #layout-menu-main .anticon {
    font-size: 16.8px;
  }
  #layout #layout-header #layout-menu-main.fold {
    width: 56px;
  }
  #layout #layout-header #layout-menu-main.fold .fold-menu {
    text-align: center;
  }
  #layout #layout-header #layout-menu-main.fold .anticon {
    font-size: 21px;
  }
  #layout #layout-header #layout-menu-main.fold .ant-menu-inline-collapsed {
    width: 56px;
  }
  #layout #layout-header #layout-menu-main.fold .ant-menu-inline-collapsed > .ant-menu-item,
  #layout #layout-header #layout-menu-main.fold .ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item,
  #layout #layout-header #layout-menu-main.fold .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
    padding: 0 17.5px !important;
  }
  #layout #layout-header #layout-menu-main.fold .ant-menu-root > li {
    text-align: left;
  }
  #layout #layout-content {
    padding-top: 56px;
    padding-left: 200px;
  }
  #layout #layout-content.normal {
    padding-left: 200px;
  }
  #layout #layout-content.fold {
    padding-left: 56px;
  }
  #layout #layout-content.vertical {
    padding-left: 0;
  }
  #layout #layout-content.collapsed {
    padding-left: 0;
  }
  #layout #layout-content.min {
    padding-left: 0;
  }
}
