html,
body {
  padding: 0;
  margin: 0;
  overflow: auto;
}
.layout-container,
#autharea,
#layout,
#layout #layout-header,
#layout #layout-header > #layout-logo,
#layout #layout-header > #layout-logo .logo-image,
#layout #layout-content,
#layout #layout-content #layout-body,
#layout #layout-content #layout-body #layout-nav {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
}
#autharea {
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#autharea .bg {
  width: 100%;
  height: 100%;
  background-color: #999;
  opacity: 0.8;
  filter: blur(5px);
  background-image: linear-gradient(90deg, #fb3 11px, transparent 0), linear-gradient(90deg, #ab4 23px, transparent 0), linear-gradient(90deg, #655 41px, transparent 0);
  background-size: 41px 100%,61px 100%,83px 100%;
}
#autharea #auth_processing {
  text-align: center;
}
#autharea #auth_processing img {
  margin: 10px auto;
}
#auth-form {
  max-width: 500px;
  max-height: 500px;
  background-color: #fff;
  padding: 10px 30px;
  opacity: 0.90;
  filter: alpha(opacity=90);
  border: 1px solid #efefef;
  border-radius: 3px;
  box-shadow: 10px #ddd;
}
#auth-form h1 {
  margin: 12px 0 2px 0;
  text-align: center;
}
#auth-form .error {
  text-align: left;
  width: 240px;
  margin: 3px auto;
}
#auth-form .data-field {
  position: relative;
  padding-top: 22px;
}
#auth-form .data-field label.data-label {
  position: absolute;
  display: block;
  text-align: left;
  padding-left: 30px;
  font-size: 16px;
  width: 100%;
  top: 32px;
  color: #999;
}
#auth-form .data-field .data-input i {
  font-size: 22px;
}
#auth-form .data-field .data-input input[type='text'],
#auth-form .data-field .data-input input[type='password'] {
  border: 1px solid #666;
  font-size: 16px;
  padding: 3px;
  margin: 5px;
  width: 240px;
}
#auth-form .data-field.inputing label.data-label {
  top: 0;
  font-size: 17px;
  color: #666;
  text-shadow: #efefef;
}
#auth-form .data-field.noLabel {
  padding: 10px 0;
  text-align: right;
}
#auth-form .data-actions {
  text-align: center;
  margin-bottom: 20px;
}
#auth-form .data-actions button {
  width: 240px;
  margin-bottom: 10px;
}
#layout {
  position: relative;
  width: 100%;
}
#layout #layout-header {
  height: 50px;
  overflow: hidden;
  width: 100%;
  background-color: #0078d7;
  border-bottom: 1px solid #1890ff;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
#layout #layout-header > #layout-logo {
  display: table-row;
}
#layout #layout-header > #layout-logo .toggle {
  background-color: #000000;
  font-size: 10px;
  width: 10px;
  display: table-cell;
}
#layout #layout-header > #layout-logo .logo-image {
  padding: 10px;
  display: table-cell;
}
#layout #layout-header > #layout-logo .logo-image img {
  height: 30px;
  width: 170px;
}
#layout #layout-header #layout-quicks {
  position: absolute;
  right: 10px;
  top: 10px;
  display: table-row;
}
#layout #layout-header #layout-quicks > * {
  display: table-cell;
  padding: 0 10px;
}
#layout #layout-header #layout-quicks .user a {
  font-size: 13px;
}
#layout #layout-content {
  position: relative;
  width: 100%;
}
#layout #layout-content #layout-sider {
  position: fixed;
  z-index: 1;
  top: 50px;
  width: 200px;
}
#layout #layout-content #layout-body {
  position: relative;
  z-index: -1;
  padding-left: 200px;
  padding-top: 80px;
  width: 100%;
}
#layout #layout-content #layout-body #layout-nav {
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 200px;
  padding: 5px;
  height: 20px;
}
#layout #layout-content.menu-min #layout-body {
  padding-left: 0;
}
#layout #layout-content.menu-min #layout-body #layout-nav {
  left: 0;
}
#layout #layout-content.menu-fold #layout-sider {
  width: 45px;
}
#layout #layout-content.menu-fold #layout-body {
  padding-left: 45px;
}
#layout #layout-content.menu-fold #layout-body #layout-nav {
  left: 45px;
}
#layout #layout-content.menu-fold .toggle-menu {
  width: 45px;
  overflow: hidden;
}
#layout.layout-xs > #layout-header {
  height: 40px;
}
#layout.layout-xs > #layout-header > #layout-logo {
  width: 40px;
  height: 40px;
  display: block;
}
#layout.layout-xs > #layout-header > #layout-logo > a.toggle {
  display: block;
  font-size: 24px;
  padding: 7px;
}
#layout.layout-xs #layout-sider {
  top: 40px;
}
#layout.layout-xs #layout-body {
  padding-top: 40px;
}
#main-menu.hidden {
  display: none;
}
#main-menu div.toggle-menu {
  text-align: right;
  font-size: 14px;
  background-color: #001529;
  padding: 10px 15px 5px 15px;
}
#main-menu div.toggle-menu .anticon {
  color: #ffffff;
}
.ant-menu-inline-collapsed {
  width: 45px;
}
.ant-menu-inline-collapsed > .ant-menu-item,
.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item,
.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
  padding: 0 15px !important;
}
/* 小屏幕（平板，大于等于 768px） */
/* 中等屏幕（桌面显示器，大于等于 992px） */
/* 大屏幕（大桌面显示器，大于等于 1200px） */
