html,
body {
  padding: 0;
  margin: 0;
}
.border-box {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}
#signin {
  position: fixed;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}
#signin img {
  width: 100%;
  filter: blur(5px);
  background-image: linear-gradient(90deg, #fb3 11px, transparent 0), linear-gradient(90deg, #ab4 23px, transparent 0), linear-gradient(90deg, #655 41px, transparent 0);
  background-size: 41px 100%,61px 100%,83px 100%;
}
#signinInfo {
  position: absolute;
  max-width: 500px;
  max-height: 500px;
  background-color: #fff;
  padding: 10px 30px;
  opacity: 0.90;
  filter: alpha(opacity=90);
  border: 1px solid #efefef;
  border-radius: 3px;
  box-shadow: 10px #ddd;
}
#signinInfo h1 {
  margin: 12px 0 2px 0;
  text-align: center;
}
#signinInfo .error {
  text-align: left;
  width: 240px;
  margin: 3px auto;
}
#signinInfo .data-field {
  position: relative;
  padding-top: 22px;
}
#signinInfo .data-field label.data-label {
  position: absolute;
  display: block;
  text-align: left;
  padding-left: 30px;
  font-size: 16px;
  width: 100%;
  top: 32px;
  color: #999;
}
#signinInfo .data-field .data-input i {
  font-size: 22px;
}
#signinInfo .data-field .data-input input[type='text'],
#signinInfo .data-field .data-input input[type='password'] {
  border: 1px solid #666;
  font-size: 16px;
  padding: 3px;
  margin: 5px;
  width: 240px;
}
#signinInfo .data-field.inputing label.data-label {
  top: 0;
  font-size: 17px;
  color: #666;
  text-shadow: #efefef;
}
#signinInfo .data-field.noLabel {
  padding: 10px 0;
  text-align: right;
}
#signinInfo .data-actions {
  text-align: center;
  margin-bottom: 20px;
}
#signinInfo .data-actions button {
  width: 240px;
  margin-bottom: 10px;
}
.layout {
  position: relative;
  width: 100%;
}
.layout > .sider {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  width: 150px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  background-color: #ddd;
}
.layout > .header {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  padding-left: 160px;
  position: fixed;
  height: 40px;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #ccc;
}
.layout > .content {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 5px;
  width: 100%;
  padding-left: 160px;
  padding-top: 50px;
}
.layout-collapsed > .sider {
  width: 50px;
}
.layout-collapsed > .header {
  padding-left: 60px;
}
.layout-collapsed > .content {
  padding-left: 60px;
}
.ant-menu-inline-collapsed {
  width: 50px;
}
.ant-menu-inline-collapsed > .ant-menu-item,
.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item,
.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
  padding: 0 15px !important;
}
