// out: ../../../wwwroot/themes/light-blue/light-blue.css, compress: false, sourceMap: false
// out: ../../wwwroot/themes/theme.css, compress: false, sourceMap: false

//灰度混合
.gray_mixin_bg (dark, @color,@percent:10%) {
    background-color: darken(@color, @percent);
}
.gray_mixin_bg (light, @color,@percent:10%) {
    background-color: lighten(@color, @percent);
}
.theme_light(
    
    //前景色
    @front-font-color
    ,@front-bg-color
    //背景色
    ,@back-font-color 
    ,@back-bg-color
    ,@line-color
){
    

    html,body{
        background-color:@back-bg-color;
        color:@back-font-color;
    }

    #auth-area{
        
        .auth-bg{
            background-color:lighten(@front-bg-color,10%);
            opacity: 0.2;
        }
        .auth-form{
            background-color:lighten( @back-bg-color,5%);
            color:@back-font-color;
            opacity: 0.9;
            border-color:darken(@back-bg-color,5%);
            .actions button{
                background-color:@front-bg-color;
                color:@front-font-color;
            }
            .error-message{
                border: 1px solid #ffa39e;
                background-color: #fff1f0;
                color:darken(#ffa39e,5%);
            }
        }
    }
    .field{
        &.validate-error{
             span.field-input input,textarea,select{
                border:1px solid #ffa39e;
            }
            label.field-valid{
                color:#ffa39e;
            }
        }
        &.validate-success{
            span.field-input input,textarea,select{
               border:1px solid #b7eb8f;
           }
           label.field-valid{
               color:#b7eb8f;
           }
       }
    }

    #layout{
        #layout-header{
            background-color:@front-bg-color;
            color:@front-font-color; 
            #layout-menu-toggle{
                .gray_mixin_bg(dark,@front-bg-color);
                &:hover{
                    background-color:darken(@front-bg-color,7%);
                }
            }
            #layout-menu-main{
                background-color :@back-bg-color;
                color:@back-font-color;
                .toggle-menu{
                    border-bottom:1px solid @line-color;
                }
                
            }
        } 
        .ant-menu,.ant-menu-sub{
            background-color :@back-bg-color;
        }
        
        
    }
    #layout.menu-mode-normal{
        #layout-menu-main{
            .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
                background-color:lighten(desaturate(@front-bg-color,38%),42%);
                color:darken(@front-bg-color,10%);
            }
            .ant-menu-item:hover,.ant-menu-submenu-title:hover {
                background-color:darken(@back-bg-color,5%);
            }
            .ant-menu-submenu-open>.ant-menu-submenu-title{
                color:darken(@back-font-color,10%);
                font-weight:bold;
            }
        }
        
    }
    .ant-menu-submenu-popup {
        .ant-menu{
            background-color : @back-bg-color;
            border:1px solid darken(@back-bg-color,8%);
        }
        
        .ant-menu-item:hover,.ant-menu-submenu-title:hover {
            background-color:darken(@back-bg-color,5%);
        }
    }

    .module{
        .mask{
            .mask-back{
                background-color: lighten(@back-bg-color,3%);
                opacity: 0.15;
            }
            &.waiting{
                
                div.mask-front{
                    border:1px solid darken(@back-bg-color,10%);
                    padding-top:40px;
                    background-color:lighten(@back-bg-color,30%) ;
                    background-image:url(images/loading.gif);
                    background-repeat:no-repeat;
                }
            }        
            &.info{
                .pop-message-box{
                    border: 1px solid #91d5ff;
                    background-color: #e6f7ff;
                    
                    .pop-message-icon{
                        color:darken(#91d5ff,10%);
                    }
                }
            }    
            &.error{
                .pop-message-box{
                    border: 1px solid #ffa39e;
                    background-color: #fff1f0;
                    
                    .pop-message-icon{
                        color:darken(#ffa39e,10%);
                    }
                }
            } 
            &.warning{
                .pop-message-box{
                    border: 1px solid #ffe58f;
                    background-color: #fffbe6;
                    
                    .pop-message-icon{
                        color:darken(#ffe58f,10%);
                    }
                }
            }  
            &.success{
                .pop-message-box{
                    border: 1px solid #b7eb8f;
                    background-color: #f6ffed;
                    
                    .pop-message-icon{
                        color:darken(#b7eb8f,10%);
                    }
                }
            }  
        }
        
    }
}





.light-blue{
    @front-font-color:#ffffff;
    @front-bg-color:#0078d7;
    @back-bg-color:#f4f4f4;
    @back-font-color:#333333;
    @line-color:#dddddd;
    
    .theme_light(@front-font-color,@front-bg-color,@back-font-color,@back-bg-color,@line-color);
}